<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
    {% load static %}
    {% include 'includes.html' %}
    <style>
        body{
            font-family: 'Poppins';
            background-image: url("{% static 'images/background_images/employee-login-background-image.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
</head>
<body>
    <div class="container mt-2">
        {% include 'default/navbar.html' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 offset-lg-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">
                            <img style="height: 43px; width: 43px;" src="{% static 'images/icons/website_logo.png' %}" alt="Website Icon"> <b>Employee Login</b></a>
                        </h1>
                        <hr>
                        <form method="post" action="{% url 'validate_employee_login' %}">
                            {% csrf_token %}
                            <div class="form-group mt-3">
                                <div class="row">
                                    <div class="col-md-10 col-12 offset-md-1">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="row">
                                    <div class="col-md-10 col-12 offset-md-1">
                                        <label for="password">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" onclick="fields_check(event)" style="width: 82%;" class="btn btn-primary btn-block mt-4">Login</button>
                            </div>
                            <div class="mt-3 text-center">
                                <div class="mt-4 text-danger">
                                    <div class="row">
                                        <div class="col-10 offset-1 margin-bottom-footer">
                                            Copyright &copy; 2024 Project Management, LLC Website is a trademark of this website
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if error_message %}
        <script>
            swal("Error!", "Invalid username or password!", "error");
        </script>
    {% endif %}
</body>
</html>