<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Project</title>
    {% load static %}
    {% include 'includes.html' %}
    <style>
        body{
            font-family: 'Poppins';
            background-image: url("{% static 'images/background_images/home-background-image-2.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container-fluid mt-3">
        <h1>View Project</h1>
        <div class="row">
            <div class="col-2">
                {% include 'employee/navbar.html' %}
            </div>
            <div class="col-6 offset-2 mt-3">
                
                
                <div class="card border-dark">
                    <div class="card-body">

                        <h1 class="text-center">{{project.project_title}}</h1>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <b>Project Id</b>: {{project.id}}
                            </div>
                            <div class="col-6">
                                <b>Manager</b>: {{project.manager}}
                            </div>
                            <div class="col-6 mt-3">
                                <b>Status</b>: {{project.status}}
                            </div>
                            <div class="col-6 mt-3">
                                <b>Created At</b>: {{project.created_at}}
                            </div> 
                            <div class="col-12 mt-3">
                                <b>Description</b>: {{project.description}}
                            </div>
                        </div>

                    </div>
                </div>
                

                <div class="card mt-4 shadow mb-3"> 
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h5><b>Tasks Assigned</b></h5>
                                Add tasks to certain employees and make them work on the project. Then they can update their progress.
                                <button type="button" class="bi btn bi-caret-down-fill float-end" data-bs-toggle="collapse" data-bs-target="#tasksAssigned" aria-expanded="false" aria-controls="tasksAssigned"></button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse shadow" id="tasksAssigned">
                    
                    {% for t in tasks %}
                        <div class="card mb-3 card-body">
                            Task Name: {{t.task_name}} <br>
                            Employee: {{t.assigned_to}} <br>
                            Status: {{t.status}} <br>
                        </div>
                    {% endfor %}
                    
                </div>

            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/index.js' %}"></script>
</body>
</html>